body {
    margin: 0;
    font-family: sans-serif;
}

:root {
    --azul: #32b9cd;
    --amarelo: #e3b062;
}
.header {
    background-color: black;
    border-bottom: 3px solid var(--azul);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.titulo {
    color: var(--azul);
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--amarelo);
    list-style: none;
    width: 300px;
}

.navbar a {
    color: var(--amarelo);
    text-decoration: none;
}

.agora {
    font-weight: bolder;
}

.banner {
    height: 400px;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
}

.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container p {
    width: 170px;
    margin: 0;
    color: white;
    font-size: 24px;
}

.banner .container span {
    font-weight: bolder;
}

.social {
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img {
    width: 120px;
    height: 120px;
}

.box h4 {
    margin: 0;
    margin-top: 10px;
    color: #e4005a;
}

.footer {
    height: 120px;
    width: 100%;
    background-color: var(--azul);
}

.footer .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer h4 {
    margin-bottom: 0;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.login .container{
    background-image: url(../assets/imgs/bg-jelly-fish-para_outras_pags.png);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-login{
    width: 760px;
    height: 290px;
    background-color: #dcdcdc;
    padding: 16px 16px 0 16px;
    margin: 140px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.campo span{
    color: #f17ea1;
    margin-top: 15px;
    font-weight: bold;
}

.card-login h2{
    font-family: sans-serif;
    margin: 15px 0 15px 0;
    color: #f17ea1;
}

.formulario, .campo{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.campo input{
    width: 110%;
    border: 2px solid var(--azul);
    border-radius: 10px;
    height: 30px;
    text-align: center;
}

.botao{
    color: #fff;
    background-color: #e4005a;
    width: 100px;
    align-self: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 15px;
}

.card-cadastro h2{
    color: #f17ea1;
    margin-top: 10px;
    margin-bottom: 0;
}
.card-cadastro{
    width: 680px;
    background-color: #dcdcdc;
    padding: 16px 16px 0 16px;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}